x64/
x64/Debug/
Debug/
/CreativeMind/Debug
/CreativeMind/x64

CreativeMind/Debug
CreativeMind/x64
*.vsidx
*.log
*.obj
*.idb
*.exe
*.pdb
x64/Debug/CreativeMindProject.pdb
x64/Debug/CreativeMindProject.exe
CreativeMindProject/x64/Debug/vc143.pdb
CreativeMindProject/x64/Debug/vc143.idb
CreativeMindProject/x64/Debug/main.obj
CreativeMindProject/x64/Debug/CreativeMindProject.log
CreativeMindProject/x64/Debug/CreativeMindProject.ilk
CreativeMindProject/x64/Debug/Creative.33aeda4b.tlog/link.write.1.tlog
CreativeMindProject/x64/Debug/Creative.33aeda4b.tlog/link.read.1.tlog
CreativeMindProject/x64/Debug/Creative.33aeda4b.tlog/CL.write.1.tlog
CreativeMindProject/x64/Debug/Creative.33aeda4b.tlog/CL.read.1.tlog
CreativeMindProject/x64/Debug/Creative.33aeda4b.tlog/CL.command.1.tlog
*.ipch
*.db
.vs/CreativeMindProject/v17/.suo
.vs/CreativeMindProject/v17/Browse.VC.db
.vs/CreativeMindProject/v17/Browse.VC.db-shm
.vs/CreativeMindProject/v17/Browse.VC.db-wal
.vs/CreativeMindProject/v17/Browse.VC.opendb
.vs/CreativeMindProject/v17/ipch/AutoPCH/1b03f4deac665c33/GAMELOGIC.ipch
